<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.especializacao.sevira2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_carrinho"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.especializacao.sevira2.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.especializacao.sevira2.Main2Activity"
            android:label="@string/title_activity_main2" >
        </activity>
        <activity
            android:name="br.com.especializacao.sevira2.ListaActivity"
            android:label="@string/title_activity_lista" >
        </activity>
        <activity
            android:name="br.com.especializacao.sevira2.ListaItemActivity"
            android:label="@string/title_activity_lista_item" >
        </activity>
        <activity
            android:name="br.com.especializacao.sevira2.CreateListActivity"
            android:label="@string/title_activity_create_list" >
        </activity>
        <activity
            android:name="br.com.especializacao.sevira2.CreateItemActivity"
            android:label="@string/title_activity_create_item" >
        </activity>
        <activity
            android:name="br.com.especializacao.sevira2.CreateItemSCActivity"
            android:label="@string/title_activity_create_item_sc" >
        </activity>
        <activity
            android:name="br.com.especializacao.sevira2.ListaItemSCActivity"
            android:label="@string/title_activity_lista_item_sc" >
        </activity>
        <activity
            android:name="br.com.especializacao.sevira2.ListaSCActivity"
            android:label="@string/title_activity_lista_sc" >
        </activity>
        <activity
            android:name="br.com.especializacao.sevira2.EditListaActivity"
            android:label="@string/title_activity_edit_lista" >
        </activity>
    </application>

</manifest>
